body {
    font-family: 'Arya';font-size: 22px;
    background-color: #ececec
    
}
.navbar {
background-color:#000 !important
}
.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.display-4{
    text-align: center;
}
h1{
    text-align: center;
}
.card{
    height:400px;
    margin-left:auto;
    margin-right:auto;
}